<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.0.js"
        integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>
<title>Simple tables</title>

<body>
    <div>
        <div class="container">
            <div class="table-responsive">
                <button name="load_data" id="load_data" class="btn btn-info"> button </button>
                <br />
                <div id="issue_data">

                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        $('#load_data').click(function () {
            $.ajax({
                url: "../issues.csv",
                dataType: "text",
                success: function (data) {
                    var issue_data = data.split(/\r?\n|\r/);

                    var table_data = '<table class="table table-bordered table-striped">';
                    for (var count = 0; count < issue_data.length; count++) {
                        var cell_Data = issue_data[count].split(",");
                        console.log(cell_Data);
                        table_data += '<tr>';
                        for (var cell_cout = 0; cell_cout < cell_Data.length; cell_cout++) {
                            if (count == 0) {
                                table_data += '<th>' + cell_Data[cell_cout] + '</th>';

                            }
                            else {
                                table_data += '<td>' + cell_Data[cell_cout] + '</td>';

                            }
                        }
                        table_data += '</tr>';
                    }
                    table_data += '</table>';

                    $('#issue_data').html(table_data);
                }
            });
        });
    });
</script>