<html>

<body>
    <table class="table table-bordered table-striped">
        <tr>
            <th>key</th>
            <th>summary</th>
            </tr<tr>
            <td>GENSIX-71705</td>
            <td>"[CCS] Page indicator displaying as incorrectly in ""Activate connected services screen"""</td>
            </tr<tr>
            <td>GENSIX-71704</td>
            <td>[User Profile]: NO Focus is observed in User Profile Settings Screen after closing the Menu option for
                Second time.</td>
            </tr<tr>
            <td>GENSIX-71702</td>
            <td>[Radio] Radio tune information is displayed in Radio screen after coming back from delete presets
                screen.</td>
            </tr<tr>
            <td>GENSIX-71699</td>
            <td>[Profile]: Focus getting disappeared tapping on the change user option.</td>
            </tr<tr>
            <td>GENSIX-71695</td>
            <td>[Manual]: No focus is observed in Option menu on making Display Off/on.</td>
            </tr<tr>
            <td>GENSIX-71694</td>
            <td>[Manual]: Blank Screen is getting displayed in Handwriting Manual Screen on Performing RVC ON/OFF.</td>
            </tr<tr>
            <td>GENSIX-71675</td>
            <td>[Manual] Focus is not retained back to input text field on performing ccp pushdial up/down in Manual >
                Handwritting tutorial screen.</td>
            </tr<tr>
            <td>GENSIX-71674</td>
            <td>[Split screen] Voice memo icon is getting displayed in split screen while starting recording.</td>
            </tr<tr>
            <td>GENSIX-71671</td>
            <td>[Phone]: Add to Favorite Search Contacts Split Screen Text is displayed in Menu option Screen.</td>
            </tr<tr>
            <td>GENSIX-71670</td>
            <td>"[Media]:""Screen is getting blank on tapping on play multiple songs in music streaming keypad
                screen."""</td>
            </tr<tr>
            <td>GENSIX-71669</td>
            <td>[Radio] Scan function is not working as intended on the rotating dial through Menu</td>
            </tr<tr>
            <td>GENSIX-71668</td>
            <td>[Genesis LIVE] Two pop ups are getting closed together on pressing CCP back button in Genesis LIVE
                screen.</td>
            </tr<tr>
            <td>GENSIX-71667</td>
            <td>[Navigation]: Keyboard Alignment is not Proper Navigation search Keypad.</td>
            </tr< /table>
</body>

</html>